.tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }
  .fade {
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
  }

  .fade:not(.show) {
    opacity: 0;
  }
  .collapse:not(.show) {
    display: none;
  }
  .header__nav-item.show .header__nav-link {
    color: #ff55a5;
  }
  .header__dropdown-menu.show {
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
    margin-top: 10px;
  }

.content__mobile-tabs-menu.show {
    pointer-events: auto;
    opacity: 1;
    margin-top: 0;
  }
  .filter__item-menu.show {
    pointer-events: auto;
    opacity: 1;
    margin-top: 10px;
  }


  .people_card {
    margin-bottom: 30px;
  }
  .people_card__cover {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .people_card__cover img {
    width: 100%;
  }
  .people_card__cover:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    z-index: 1;
    opacity: 0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .people_card__cover:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
  }
  .people_card__cover:hover:before {
    opacity: 0.65;
  }
  .people_card__cover:hover .people_card__play {
    opacity: 1;
  }
  .people_card__play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 2;
    font-size: 30px;
    color: #fff;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    opacity: 0;
  }
  .people_card__play i {
    margin: 2px 0 0 3px;
  }
  .people_card__play:hover {
    color: #fff;
  }
  .people_card__content {
    position: relative;
    display: block;
    margin-top: 10px;
  }
  .people_card__title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .people_card__title a {
    color: #fff;
  }
  .people_card__title a:hover {
    color: #fff;
  }
  .people_card__category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .people_card__category a {
    font-size: 14px;
    position: relative;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    margin-right: 7px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
  }
  .people_card__category a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
  }
  .people_card__category a:last-child {
    margin-right: 0;
  }
  .people_card__category a:last-child:after {
    display: none;
  }
  .people_card__category a:hover {
    opacity: 1;
  }
  .people_card__rate {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
  }
  .people_card__rate i {
    text-shadow: 0 0 6px rgba(255,88,96,0.5);
    margin-right: 5px;
  }
  .people_card__rate i:before {
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
  }
  .people_card__list {
    display: none;
  }
  .people_card__description {
    display: none;
  }
  .people_card__meta {
    display: none;
  }
  .people_card--details .people_card__cover img {
    width: 100%;
    max-width: 270px;
  }
  .people_card--details .people_card__cover:before {
    display: none;
  }
  .people_card--details .people_card__cover:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .people_card--details .people_card__description {
    display: block;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255,255,255,0.7);
    letter-spacing: 0.2px;
  }
  .people_card--details .people_card__list {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
  }
  .people_card--details .people_card__list li {
    border: 1px solid rgba(255,255,255,0.26);
    padding: 5px 5px 4px;
    line-height: 100%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(255,255,255,0.65);
  }
  .people_card--details .people_card__list li:last-child {
    margin-right: 0;
  }
  .people_card--details .people_card__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }
  .people_card--details .people_card__content {
    margin-top: 15px;
  }
  .people_card--details .people_card__meta {
    margin-top: 15px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: rgba(255,255,255,0.7);
  }
  .people_card--details .people_card__meta span {
    color: rgba(255,255,255,0.7);
    margin-right: 7px;
  }
  .people_card--details .people_card__meta li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  .people_card--details .people_card__meta li:last-child {
    margin-bottom: 0;
  }
  .people_card--details .people_card__meta a {
    font-size: 15px;
    position: relative;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    margin-right: 7px;
    opacity: 0.8;
  }
  .people_card--details .people_card__meta a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
  }
  .people_card--details .people_card__meta a:last-child {
    margin-right: 0;
  }
  .people_card--details .people_card__meta a:last-child:after {
    display: none;
  }
  .people_card--details .people_card__meta a:hover {
    opacity: 1;
  }
  .people_card--details .people_card__rate {
    margin-top: 0;
  }
  @media (min-width: 576px) {
    .people_card--list .people_card__content {
      margin-top: 0;
      height: 212px;
      overflow: hidden;
      position: relative;
    }
    .people_card--list .people_card__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 5px;
      margin-top: -4px;
    }
    .people_card--list .people_card__rate {
      margin-top: 0;
    }
    .people_card--details .people_card__content {
      margin-top: 0;
    }
    .people_card--details .people_card__wrap {
      margin-top: 0;
    }
    .people_card--big .people_card__title {
      font-size: 20px;
    }
    .people_card__list {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 15px;
    }
    .people_card__list li {
      border: 1px solid rgba(255,255,255,0.1);
      padding: 5px 5px 4px;
      line-height: 100%;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin-right: 10px;
      font-size: 12px;
      font-weight: 700;
      color: rgba(255,255,255,0.65);
    }
    .people_card__list li:last-child {
      margin-right: 0;
    }
    .people_card__description {
      display: block;
      margin-top: 10px;
    }
    .people_card__description p {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      line-height: 25px;
      color: rgba(255,255,255,0.7);
      margin-bottom: 15px;
      letter-spacing: 0.2px;
    }
    .people_card__description p:last-child {
      margin-bottom: 0;
    }
    .people_card__wrap {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;
    }
  }
  @media (min-width: 768px) {
    .people_card--list {
      margin-bottom: 50px;
    }
    .people_card--list .people_card__content {
      height: 310px;
    }
  }
  @media (min-width: 992px) {
    .people_card--list .people_card__content {
      height: 190px;
    }
  }
  @media (min-width: 1200px) {
    .people_card--big .people_card__play {
      width: 80px;
      height: 80px;
      margin: -40px 0 0 -40px;
      font-size: 44px;
    }
    .people_card--big .people_card__play i {
      margin: 2px 0 0 5px;
    }
    .people_card--big .people_card__title {
      font-size: 22px;
    }
    .people_card--list .people_card__title {
      font-size: 22px;
    }
    .people_card--list .people_card__content {
      height: 237px;
    }
    .people_card--details {
      margin-bottom: 0;
    }
    .people_card--series {
      margin-bottom: 30px;
    }
  }




  @media screen and (prefers-reduced-motion: reduce) {
    .fade {
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
    }
  }
  @media (min-width: 1200px) { 
    .header__dropdown-menu.show {
   margin-top: 0;
 }
}
  @media (min-width: 992px) {
    .filter__item-menu.show {
        margin-top: 20px;
      }
    }